{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 23.142814518912285,
    "longitude": 113.04956102292637,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "我的家",
    "time_zone": "Asia/Shanghai",
    "external_url": null,
    "internal_url": null,
    "currency": "CNY",
    "country": "CN",
    "language": "zh-Hans"
  }
}